{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}

<style>
    #header{
       background-color: rgb(109, 204, 170)
    }
    #content{
        background-color: rgb(133, 212, 183) 
    }
    #branding h1 a:visited{ 
        color: white
    }
   #content h1{
    font-size: 50px;   
    color:white
       
   }
   #container{
   background-color:  rgb(133, 212, 183) 
   }
   .container{
        background-color:  rgb(133, 212, 183) 
   }
   .module h2, .module caption, .inline-group h2{
   background-color: rgb(109, 204, 170)
   }
   #content-related .module h2{
    background-color:  rgb(109, 204, 170)
   }
   div.breadcrumbs{
       background:  rgb(133, 212, 183)
   }
   body{
       background:  rgb(133, 212, 183)
   }
</style>

{% endblock extrastyle %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}