
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(109, 204, 170)!important;
}
container{
    background-color: rgb(109, 204, 170)!important;
}

color1{
    background-color: rgb(109, 204, 170)!important;
}

    